body {
    background-image: url(../../Model/img/beijing.jpg);
}

#c3 {
    margin-left: 380px;
}

#c4 {
    margin-top: -55px;
    margin-left: 770px;
}

#a3 {
    margin-left: 100px;
}

#a1 {

    top: -3px;
}

#c1 {
    margin-left: 500px;
    margin-right: 600px;
}